In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [24]:
test_1 = pd.read_csv("data/CMaps/test_FD001.txt",sep=" ",header=None)
test_2 = pd.read_csv("data/CMaps/test_FD002.txt",sep=" ",header=None)
test_3 = pd.read_csv("data/CMaps/test_FD003.txt",sep=" ",header=None)
test_4 = pd.read_csv("data/CMaps/test_FD004.txt",sep=" ",header=None)

In [4]:
test_1.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      dtype='int64')

In [5]:
test_1

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [11]:
columns = ['engine', 'cycle','setting1', 'setting2', 'setting3']+[ f'sensor{i}' for i in range(1,24) ]

In [12]:
print(columns)

['engine', 'cycle', 'setting1', 'setting2', 'setting3', 'sensor1', 'sensor2', 'sensor3', 'sensor4', 'sensor5', 'sensor6', 'sensor7', 'sensor8', 'sensor9', 'sensor10', 'sensor11', 'sensor12', 'sensor13', 'sensor14', 'sensor15', 'sensor16', 'sensor17', 'sensor18', 'sensor19', 'sensor20', 'sensor21', 'sensor22', 'sensor23']

In [13]:
test_1.columns=columns

In [15]:
test_1

,engine,cycle,setting1,setting2,setting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,sensor22,sensor23
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [18]:
test_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13096 entries, 0 to 13095
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   engine    13096 non-null  int64
 1   cycle     13096 non-null  int64
 2   setting1  13096 non-null  float64
 3   setting2  13096 non-null  float64
 4   setting3  13096 non-null  float64
 5   sensor1   13096 non-null  float64
 6   sensor2   13096 non-null  float64
 7   sensor3   13096 non-null  float64
 8   sensor4   13096 non-null  float64
 9   sensor5   13096 non-null  float64
 10  sensor6   13096 non-null  float64
 11  sensor7   13096 non-null  float64
 12  sensor8   13096 non-null  float64
 13  sensor9   13096 non-null  float64
 14  sensor10  13096 non-null  float64
 15  sensor11  13096 non-null  float64
 16  sensor12  13096 non-null  float64
 17  sensor13  13096 non-null  float64
 18  sensor14  13096 non-null  float64
 19  sensor15  13096 non-null  float64
 20  sensor16  13096 non-null  float64
 21  sensor17  13096 non-null  int64
 22  sensor18  13096 non-null  int64
 23  sensor19  13096 non-null  float64
 24  sensor20  13096 non-null  float64
 25  sensor21  13096 non-null  float64
 26  sensor22  0 non-null      float64
 27  sensor23  0 non-null      float64
dtypes: float64(24), int64(4)
memory usage: 2.8 MB

In [19]:
test_1.drop(['sensor22','sensor23'],axis=1,inplace=True)

In [20]:
test_1.head()

,engine,cycle,setting1,setting2,setting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [23]:
test_1[test_1['engine']==1]

,engine,cycle,setting1,setting2,setting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
5,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,521.92,2388.08,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467
6,1,7,-0.0000,0.0002,100.0,518.67,642.11,1583.34,1404.84,14.62,...,522.01,2388.06,8134.97,8.3914,0.03,391,2388,100.0,38.85,23.3952
7,1,8,0.0006,-0.0000,100.0,518.67,642.54,1580.89,1400.89,14.62,...,522.09,2388.06,8125.93,8.4213,0.03,393,2388,100.0,39.05,23.3224
8,1,9,-0.0036,0.0000,100.0,518.67,641.88,1593.29,1412.28,14.62,...,522.03,2388.05,8134.15,8.4353,0.03,391,2388,100.0,39.10,23.4521
9,1,10,-0.0025,-0.0001,100.0,518.67,642.07,1585.25,1398.64,14.62,...,522.00,2388.06,8134.08,8.4093,0.03,391,2388,100.0,38.87,23.3820
10,1,11,0.0007,-0.0004,100.0,518.67,642.04,1581.03,1403.83,14.62,...,521.95,2388.06,8132.38,8.3919,0.03,391,2388,100.0,39.06,23.3609
11,1,12,0.0026,0.0003,100.0,518.67,642.54,1587.43,1397.82,14.62,...,522.01,2388.06,8132.33,8.3984,0.03,391,2388,100.0,39.11,23.3845
12,1,13,-0.0056,0.0003,100.0,518.67,641.94,1589.09,1403.94,14.62,...,522.37,2388.03,8131.12,8.4166,0.03,392,2388,100.0,39.08,23.3677
13,1,14,0.0017,-0.0004,100.0,518.67,642.23,1583.16,1402.88,14.62,...,521.95,2388.06,8130.30,8.4293,0.03,392,2388,100.0,39.03,23.4572
14,1,15,-0.0003,-0.0003,100.0,518.67,642.50,1584.81,1398.79,14.62,...,521.38,2388.00,8133.62,8.4163,0.03,392,2388,100.0,39.04,23.3672
15,1,16,-0.0018,0.0003,100.0,518.67,642.32,1584.51,1407.76,14.62,...,522.16,2388.10,8133.83,8.4300,0.03,390,2388,100.0,38.87,23.3484
16,1,17,0.0014,0.0002,100.0,518.67,642.19,1582.70,1404.12,14.62,...,522.09,2388.02,8126.78,8.4577,0.03,391,2388,100.0,39.09,23.3409
17,1,18,0.0035,0.0001,100.0,518.67,642.59,1586.53,1403.69,14.62,...,522.14,2388.06,8133.22,8.4323,0.03,391,2388,100.0,38.96,23.4481
18,1,19,0.0029,0.0001,100.0,518.67,642.43,1585.58,1402.30,14.62,...,522.06,2388.01,8129.31,8.3892,0.03,391,2388,100.0,39.06,23.3809
19,1,20,0.0011,-0.0001,100.0,518.67,642.61,1587.78,1400.70,14.62,...,522.28,2388.05,8128.59,8.4099,0.03,392,2388,100.0,39.00,23.3325
20,1,21,0.0038,-0.0002,100.0,518.67,642.70,1583.30,1399.20,14.62,...,522.05,2388.11,8126.86,8.4174,0.03,392,2388,100.0,38.96,23.4025
21,1,22,0.0012,0.0001,100.0,518.67,642.45,1582.78,1404.06,14.62,...,521.41,2388.04,8128.89,8.4557,0.03,392,2388,100.0,38.94,23.3770
22,1,23,0.0009,-0.0000,100.0,518.67,642.12,1587.51,1395.09,14.62,...,522.00,2388.06,8130.97,8.4116,0.03,393,2388,100.0,39.10,23.3186
23,1,24,-0.0006,-0.0001,100.0,518.67,642.32,1594.29,1400.15,14.62,...,522.06,2388.12,8130.70,8.4074,0.03,393,2388,100.0,38.94,23.3971
24,1,25,0.0028,-0.0003,100.0,518.67,642.25,1582.43,1400.23,14.62,...,522.26,2388.08,8128.65,8.4007,0.03,393,2388,100.0,38.96,23.3785
25,1,26,0.0047,-0.0005,100.0,518.67,642.48,1583.28,1408.07,14.62,...,521.95,2388.07,8129.12,8.3949,0.03,391,2388,100.0,38.77,23.3557
26,1,27,-0.0007,0.0001,100.0,518.67,642.08,1586.65,1400.31,14.62,...,521.82,2388.02,8127.24,8.4494,0.03,392,2388,100.0,38.87,23.3931
27,1,28,0.0022,0.0005,100.0,518.67,641.93,1594.25,1401.29,14.62,...,521.84,2388.07,8134.89,8.4470,0.03,392,2388,100.0,38.83,23.3502
28,1,29,0.0014,0.0001,100.0,518.67,641.95,1587.15,1398.11,14.62,...,522.39,2388.07,8133.13,8.4212,0.03,392,2388,100.0,39.02,23.3621
29,1,30,-0.0025,0.0004,100.0,518.67,642.79,1585.72,1400.97,14.62,...,521.78,2388.10,8134.79,8.4110,0.03,391,2388,100.0,39.09,23.4069
30,1,31,-0.0006,0.0004,100.0,518.67,642.58,1581.22,1398.91,14.62,...,521.79,2388.06,8130.11,8.4024,0.03,393,2388,100.0,38.81,23.3552